<a href="https://colab.research.google.com/github/dotsoon/TIL/blob/master/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 알고리즘 문제 풀이
- 기초적인 코딩 과정을 익히기 위해서 사용
  - 핵심: 반복문과 리스트
    - 가장 배우기 어렵고, 힘든 과정

- 확장 => 코딩 테스트를 준비하는 용도

- 실습 사이트
  - [백준](http://www.acmicpc.net): 알고리즘 경진대회 준비
    - 난이도 별로 다양하게 문제들이 준비
    - 초보자부터 숙련자까지 전부 사용해볼 수 있습니다. 

  - [코드업](https://codeup.kr/index.php): 학생들을 위한 사이트 
    - 초보자를 위한 문제들이 다수 준비
    - 개인이 사비를 들여서 운영하는 곳으로 감사한 마음으로 문제를 풀도록 합시다

  - [프로그래머스](https://programmers.co.kr/)
    - 코딩 테스트를 위한 사이트
    - 기출문제들이 잘 모여있는 사이트

  - [LeetCode](https://leetcode.com/problemset/all/)
    - 해외취업을 준비하시는 분들
    - 무료로 풀 수 있는 문제와 유료 문제들이 따로 있습니다.

  - [topcoder](https://arena.topcoder.com/index.html#/u/dashboard)
    - 전통적으로 아주 유명한 프로그래밍 경진대회 사이트
    - 릿코드와 마찬가지로 채용도 활발하게 이루어집니다.

# CodeUp
- 다음의 문제는 수업 시간에 다루지 않은 내용이므로, 다루지 않겠습니다. 
  - 6046, 6047, 6059, 6060, 6061, 6062, 6063, 6064

## 6015
- 정수 2개 입력받아서 처리하기

In [ ]:
a, b = map( int, input().split() )
print(a, b)

10 20
10 20

## 6019
- 연,월,일 입력받아서 처리하기

In [ ]:
year, month, day = '2020.3.4'.split('.')

In [ ]:
print(day, month, year, sep='-')

4-3-2020

In [ ]:
print(f'{day}-{month}-{year}')

4-3-2020

In [ ]:
print('{}-{}-{}'.format(day, month, year))

4-3-2020

## 6020
- 주민번호 입력받아서 처리하기

In [ ]:
id1 = '000907-1121112'
id2 = id1.split('-')

In [ ]:
id2[0] + id2[1]

'0009071121112'

In [ ]:
''.join(id2)

'0009071121112'

In [ ]:
id1.replace('-', '')

'0009071121112'

## 6021
- 단어 입력받아서 나눠서 출력하기 
- 항상 5자리의 문자열이 주어지므로

In [ ]:
strs = 'Hello'
strs

'Hello'

In [ ]:
print(strs[0])
print(strs[1])
print(strs[2])
print(strs[3])
print(strs[4])

H
e
l
l
o

In [ ]:
# 문자열도 이터레이블 객체이므로 unpacking이 가능
print(*strs, sep='\n')

H
e
l
l
o

## 6022
- 연월일 입력받아서 나눠서 출력하기

In [ ]:
date = '200304'

In [ ]:
print(date[0:2], date[2:4], date[4:])

20 03 04

## 6023
- 시분초 입력 받아서 `분`만 출력하기

In [ ]:
# split을 하면 항상 크기가 3인 리스트가 돌아옵니다. 
# 즉, 리스트의 2번째 원소는 항상 분이 됩니다. 
'17:23:57'.split(':')[1]

'23'

In [ ]:
# 표준입력은 입력받은 라인을 무조건 문자열 타입으로 돌려줍니다.
# 그렇기 때문에 input()을 통해 입력받은 메모리는 항상 문자열임을 가정해서 처리
read = input()

17:23:57

In [ ]:
print( read.split(':')[1] )

23

## 6024
- 공백으로 구분된 단어를 입력받아서 합쳐서 출력하기

In [ ]:
word1, word2 = 'hello world'.split()
print( word1, word2 )
print( word1 + word2 )

hello world
helloworld

## 6025
- 공백으로 구분되는 두 정수를 입력받아서 합 출력하기

In [ ]:
a, b = '123 -123'.split()
print(a, b)
print(int(a) + int(b))

123 -123
0

In [ ]:
a, b = map(int, '123 -123'.split())
print( a + b )

0

## 6026
- 6025번 문제와 동일한 문제입니다. 
- 이번엔 정수가 아닌 실수를 처리하는 문제가 됩니다.

In [ ]:
a = float(input())
b = float(input())
print( a + b )

0.1
0.9
1.0

> 테스트한 코드와 제출한 코드가 다르다면
  - 테스트는 잘 되는데, 제출하면 틀린답이라고 뜬다면
  - 예시로 주어진 입력에 대해서는 처리가 되는데, 예시로 주어지지 않은 입력에 대해서 처리하지 못하는 경우가 발생
    - 오답이 되는 테스트 케이스를 찾아야 합니다. 
    - 대부분의 대회 문제들은 테스트 케이스를 공개하지 않습니다. 
    - 그래서, 오답이 되는 테스트 케이스를 찾아내는 것도 하나의 연습

## 6027
- 파이썬에서는 hex()함수를 이용하면 됩니다. 
- 문자열 포맷팅을 이용해서도 출력할 수 있습니다. 
  - f-string, format
  - [포맷 문자열 문법](https://docs.python.org/ko/3/library/string.html#formatstrings)

In [ ]:
hex(10)

'0xa'

In [ ]:
'{:x}'.format(10)

'a'

In [ ]:
f'{10:x}'

'a'

In [ ]:
a = int( input() )
print( hex(a)[2:] )

255
ff

In [ ]:
a = int( input() )
print( f'{a:x}' )

255
ff

## 6028
- 6027번 문제와 동일한 문제 입니다. 
- 입력받은 10진수 정수를 16진수 대문자 형태로 출력

In [ ]:
print( type( f'hello') )
print( type( b'hello' ) )

<class 'str'>
<class 'bytes'>

In [ ]:
a = int( input() )
print( hex(a)[2:].upper() )

255
FF

In [ ]:
a = int( input() )
print( f'{a:X}' )

255
FF

## 6029
- 입력받은 10진수 정수를 8진수 형태로 출력하기
- 8진수로 변환할 때는, oct()함수를 사용할 수 있습니다. 
- f-string, format을 사용할 때는 'o'를 사용해서 출력 포맷을 지정할 수 있습니다.

In [ ]:
int('a', base=16)

10

In [ ]:
a = int( input(), base=16 )
print(f'{a:o}')

f
17

## 6030
- 영문자 1개를 입력받아서 아스키 코드값 출력하기
- 파이썬에서는 ord() 함수를 사용할 수 있습니다.

In [ ]:
a = input()
print( ord(a) )

A
65

## 6031
- 정수 입력받아서 문자로 변환해서 출력하기

In [ ]:
chr(65)

'A'

In [ ]:
a = int( input() )
print( chr(a) )

65
A

## 6032
- 입력된 정수의 부호를 바꿔서 출력하기

In [ ]:
a = -3
-a

3

## 6033
- 입력된 문자의 다음 문자 출력하기
  - 알파벳 순으로 했을 때, 다음에 오는 문자

In [ ]:
a = 'a'
next = ord(a) + 1
print( chr(next) )

b

In [ ]:
a = input()
next = ord(a) + 1
print( chr(next) )

a
b

## 소수점 처리
- 소수에 대한 버림/반올림/올림

In [ ]:
import math

n = 12.12121212
print(f'소수: {n}')

print( f'버림: {int(n)}' )
print( f'버림: {math.trunc(n)}' )
print( f'버림: {math.floor(n)}' )

print( f'올림: {math.ceil(n)}' )

digit = 2 # 소수점 이하 2자리
print( f'자리수 올림: {math.ceil(n * 10 ** digit) / 10 ** digit}' )
print( f'자리수 버림: {math.floor(n * 10 ** digit) / 10 ** digit}' )

print( f'자리수 반올림: {round(n, digit)}' )

소수: 12.12121212
버림: 12
버림: 12
버림: 12
올림: 13
자리수 올림: 12.13
자리수 버림: 12.12
자리수 반올림: 12.12

문자열 포맷팅을 이용한 반올림 처리

In [ ]:
# 소수점 이하 자리를 0까지 포함해서 표현을 하고 싶은 경우
# 포맷팅을 이용하면 해결할 수 있습니다.
f'{12:.2f}'

'12.00'

## 6043
- 실수 2개를 입력받아서 나눈값을 소수점 3째자리 까지 반올림해서 출력
- 소수점 이하 자릿수까지 채점을 하는 경우에는 문자열 포맷팅을 이용해서 해결

In [ ]:
a, b = map(float, input().split())
print( f'{a/b:.3f}' )

10.0 3.0
3.333

## 6056
- XOR
  - 베타적 논리 합: 논리연산의 한 종류
    - 두 명제의 결과가 다른 경우에만 참이 되는 연산
  - 파이썬에서 제공하지 않는 논리연산 입니다. 
    - and, or, not의 3가지 연산자만 제공
    - 다른 모든 논리연산은 이 3가지의 조합으로 표현
- 두 명제가 서로 다를경우에만 참이 되는 연산
- 정수에 대한 불리언 연산
  - 파이썬의 모든 객체는 참, 거짓으로 구분 가능
  - 거짓이 되는 경우: 0 또는 빈 객체

In [ ]:
a, b = map(int, input().split() )
a = bool(a)
b = bool(b)

# 결국 이 문제는 and, or, not의 조합으로 xor를 구현하는 문제
# xor 뿐만이 아니라 다른 모든 논리연산들은 전부 and, or, not의 조합으로 표현 가능
print( (a and not b) or (not a and b) )

1 0
True

## 6065
- 입력받은 3개의 수 중에서 짝수만 출력

In [ ]:
a, b, c = map(int, input().split())

# 아래의 코드가 이해되시나요? 
# if not a % 2: print(a)
# if not b % 2: print(b)
# if not c % 2: print(c)

# 결과는 동일하게 나오게 됩니다.
if a % 2 == 0: print(a)
if b % 2 == 0: print(b)
if c % 2 == 0 : print(c)

1 2 4
2
4

## 6068
- 정수를 입력받아서 범위에 해당하는 평가 결과를 출력

In [ ]:
n = int( input() )

if 90 <= n <= 100:
  print('A')
elif 70 <= n <= 89:
  print('B')
elif 40 <= n <= 69:
  print('C')
else:
  print('D')

73
B

## 6069
- 6068번 동일한 문제 입니다. 
- 문자를 입력받아서 문자에 해당하는 출력

In [ ]:
ch = input()

if ch == 'A':
  print('best!!!')
elif ch == 'B':
  print('good!!')
elif ch == 'C':
  print('run!')
elif ch == 'D':
  print('slowly~')
else:
  print('what?')

A
best!!!

## 6070
- 입력받은 월에 대한 계절을 출력하는 문제
- 입력은 1에서 12 사이의 자연수만 입력으로 주어진다.

In [ ]:
n = int( input() )

# if n == 12 or n == 1 or n == 2:
#   print('winter')

if n // 3 == 1: print('spring')
elif n // 3 == 2: print('summer')
elif n // 3 == 3: print('fall')
else: print('winter')

12
winter

## 6071
- 모든 입력을 한 번에 받아서 일괄적으로 처리할 필요가 없습니다. 
  - 각각의 주어진 입력을 서로 다른 테스트 케이스로 보고 각각 처리를 해주면 됩니다.

In [ ]:
# 입력이 얼마나 주어질지 알 수 없다. 
# 0이 입력되면 더 이상 입력을 받지 않아도 된다. 

while True:
  n = int( input() )
  if n != 0:
    print(n)
  else:
    break # 0이 입력되면 더 이상 처리할 필요가 없습니다.

1
1
10
10
0

## for Vs. while
- for
  - 이터레이블 객체에 대해서 반복적인 연산이 가능
  - 반드시 이터레이블 객체가 있어야 합니다.
  - 파이썬을 제외한 언어들은 for와 while의 구분이 없는 경우가 더 많습니다. 
  - 대신에 다른 언어들은 파이썬 for와 유사한 `for-each`라는 문법이 따로 존재하는 경우도 있습니다. 

- while
  - 이터레이블이 아닌 경우에 반복이 필요하다면 사용

# 중첩루프

In [ ]:
# 중첩 루프가 아닙니다. 
for n in range(2, 10):
  print(n, end=' ')

print()

for i in range(1, 10):
  print(i, end=' ')

2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9

In [ ]:
for n in range(2, 10):
  print(n, end=' ')
  print()

  for i in range(1, 10):
    print(i, end=' ')
  print()

2
1 2 3 4 5 6 7 8 9
3
1 2 3 4 5 6 7 8 9
4
1 2 3 4 5 6 7 8 9
5
1 2 3 4 5 6 7 8 9
6
1 2 3 4 5 6 7 8 9
7
1 2 3 4 5 6 7 8 9
8
1 2 3 4 5 6 7 8 9
9
1 2 3 4 5 6 7 8 9

# 백준

## A + B - (1 ~ 8)
- 알고리즘 문제 또는 코딩 테스트에서 나올 수 있는 거의 모든 표준 입력 형태를 다룹니다. 
- 이 문제들의 입력을 처리할 수 있으면, 대부분의 표준 입력은 처리가 가능할 겁니다. 

- 문제 4번은 `EOF`에 대한 예외처리 문제 입니다

## 별찍기 - (1 ~ 8)
- 도전해볼만한 문제들 입니다. 
- 수업시간에는 5번까지만 해볼건데 반복문 연습을 위해서라도 나머지 문제들도 꼭 풀어보시길 바랍니다.

### 중첩루프

#### 별찍기 - 1

```
*
**
***
****
*****

```

In [ ]:
# 제출 할 때에는 n을 표준입력으로 받아서 처리
# 수업시간에는 n = 5라고 가정하고 진행
n = 5

for i in range(n):
  for j in range(i+1):
    print('*', end='')
  print()

#### 별찍기 - 2
- 공백도 같이 고려해서 출력

```
    *
   **
  ***
 ****
*****
```

In [ ]:
n = 5

for i in range(n):
    
  # 공백 출력
  for k in range(n-i-1):
    print(' ', end='')
    
  # 별을 출력
  for j in range(i+1):
    print('*', end='')
  print()

#### 별찍기 - 3
- 별찍기 - 1번 문제와 동일한 문제
- 이번엔 반대로 찍어야합니다. 
  - 별찍기 - 2번의 공백 출력을 응용해볼게요!
  - 별찍기 - 2번의 공백 패턴과 이번 문제의 별 패턴이 유사 합니다. 

```
*****
****
***
**
*
```

In [ ]:
n = 5

for i in range(n):
  for j in range(n-i):
    print('*', end='')
  print()

print() 

for i in range(n, 0, -1):
  for j in range(i):
    print('*', end='')
  print()

*****
****
***
**
*

*****
****
***
**
*

#### 별찍기 - 4
- 공백을 출력하는 패턴을 고려하면 됩니다.

```
*****
 ****
  ***
   **
    *
```

In [ ]:
n = 5
for i in range(n, 0, -1):
  for k in range(n-i):
    print(' ', end='')

  for j in range(i):
    print('*', end='')
  print()

print()

for i in range(n):
  for k in range(i):
    print(' ', end='')

  for j in range(n-i):
    print('*', end='')
  print()

*****
 ****
  ***
   **
    *

*****
 ****
  ***
   **
    *

#### 별찍기 - 5
- 정삼각형처럼 보이는 별찍기

```
    *
   ***
  *****
 *******
*********
```

In [ ]:
n = 5

for i in range(1, n+1):
  # 공백
  for k in range(n-i): 
    print(' ', end='')

  # 별
  for j in range( 2 * i - 1 ):
    print('*', end='')
  print()

### 리스트

In [ ]:
type(None)

NoneType